.menubtn{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* ------------------------------------------------------------------- 
 * ## display headings
 * ------------------------------------------------------------------- */
 .display-1 {
    font-family: "IBM Plex Serif", serif;
    /* font-weight: 600;
    font-size: 6rem; */
    line-height: 1.2;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align:center;
}

.display-2 {
    font-family: "IBM Plex Serif", serif;
    /* font-weight: 600;
    font-size: 4.5rem; */
    line-height: 1.244;
    margin-top: 0;
    text-align:center;
}

.subhead {
    margin-top: 0;
    /* color: #7E5842; */
    font-size: 2.4rem;
    line-height: 1.1667;
}
/***********************************************************************/

.mbsc-page * {
    box-sizing: unset;
    border-radius: 15px;
}

.cen{
    text-align:center;
}
.fav{
    text-align:right;
    width:30px;
}
.right{
    text-align:right;
}
.resp {
    max-width: 100%;
    height: auto;
}

.sidepadding{
    padding-right:5px;
    padding-left:5px
}

/*******************************************************************************/
.ui-shadow.ui-btn.ui-corner-all.menubtn {
    border: ridge;
    background-color:white;
}

.ui-page-theme-a .ui-btn {
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 0px 0 #000000;
}

.darkbg{
    background-color:#011931;
    color:#ffffff;
}
.ui-btn-near-events{
    background-color: white !important;
    border-color: #011931 !important;
    color: #011931 !important;
    align-content: center !important;
}
.darkbg{
    background-color:#011931 !important;
    color:#ffffff !important;
}

.highlight{
	background-color:#ff8400  !important;
	color:#ffffff  !important;
}
.maincolor1{
    background-color:#9B723C  !important;
    border: none !important;
    opacity: 0.9 !important;
}

.maincolor2{
	background-color:#BBC9DF !important;
    border: none !important;
    border: none !important;
}

.maincolor3{
	background-color:#C8AE99 !important;
    border: none !important;
    border: none !important;
}

.maincolor4{
	background-color:#A37F8C !important;
    border: none !important;
    border: none !important;
}